<section class="game-section">
    <div class="game-section__wrapper">
        <div class="details-div">
            <p>Logged as <span id="playerId"></span></p>
            <p>Welcome to <span id="gameName"></span></p>
            <input id="universalGameButton" type="button" value="Seek an opponent">
        </div>
        <div class="game-div">
            <p>You play for <span id="playFor"></span></p>
            <button id="revertBoardButton">Revert board</button>
            <div id="gameboard"></div>
            <p id="info-display"></p>
        </div>
    </div>
</section>