.square{
    height: 40px;
    width: 40px;
}

.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -5;
}

path{
    position: relative;
    z-index: -10;
}

.piece{
    position: relative;
    z-index: 5; 
}

.beige{
    background-color: var(--beige-color);
}

.brown {
    background-color: var(--brown-color);
}

.black{
    fill: black
}

.white{
    fill: white
}