.game-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

#gameboard{
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

