:root {
	
	--theme1Light-color: #f0d9b5;
	--theme1Dark-color: #b58863;
	--theme2Light-color: #e3c16f;
	--theme2Dark-color: #b88b4a;
	--theme3Light-color: rgb(110, 110,98);
	--theme3Dark-color: rgb(169, 43,43);
}


* {
	box-sizing: border-box;
}
  
body {
	padding: 0;
	margin: 0;
}

.d-none{
	display: none !important;
}


